<div class="footer pt-5 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 mx-auto">
                <h2>ABOUT</h2>
                <p class="font-weight-normal">Finding the right Online Course is difficult, We make it easy for you get free course with certificate</p>
            </div>
            <div class="col-sm-7"></div>
        </div>
    </div>
    <!-- line -->
    <hr>
    <div class="container d-flex" style="justify-content: space-between;">
        <div>
            <p>By Pulkit Kumar Agarwal</p>
        </div>
        <div class="d-none d-sm-block" style="width: 30%; max-width: 200px;">
            <div style="display: flex; justify-content: space-between;">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a class="disabled" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</div>
