<div class="container mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="/">Online Coupon Kit</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if active == "home" %}active{% endif %}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active == "about" %}active{% endif %}" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active == "contact" %}active{% endif %}" href="/contact">Contact</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <input class="form-control me-2" id="search_box" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" onclick="window.location.href = '/search/' + document.getElementById('search_box').value.replace(' ', '-')">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>
